/* common styles */
html, body {
    height: 100%;
}
body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    margin-bottom: 2em;
    padding: 0.5em 0;
    font-size: 3em;
    color: goldenrod;
    text-align: center;
}

/* pages backgrounds */
#person-page {
    background-image: url('../images/bg-person.jpeg');
}
#planet-page {
    background-image: url('../images/bg-planet.jpeg');
}

/* data card */
.card {
    max-width: 50%;
    margin: 0 auto;
    padding: 2em;
    background-color: rgba(247, 199, 6, 0.4);
    border: 50px solid rgba(30, 90, 163, 0.8);
    font-size: 2em;
}
.card h2 {
    margin-top: 0;
}
.card a {
    color: gold;
}
.card a:hover {
    color: darkorange;
}

/* page navigation */
#arrows {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    margin: 2em auto 0;
}
.has-elements {
    flex-direction: row-reverse;
}
.arrow {
    width: 50px;
    height: 50px;
    margin-top: 2em;
    margin-left: auto;
    color: goldenrod;
    cursor: pointer;
}
.arrow svg {
    width: 100%;
    height: 100%;
}
.arrow:hover {
    color: darkorange;
}
#prev-arrow {
    margin-left: 0;
    margin-right: auto;
}

/* page loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/loader.gif') center center no-repeat;
    background-size: cover;
}
.loader.hidden {
    display: none;
}

/* home page */
.note {
    margin-top: -3em;
    font-size: 2em;
    text-align: center;
}
#people-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto 2em;
}
.people-item {
    width: 24%;
    height: 5em;
    margin: 0 0.5% 1%;
    padding: 0 1em 2em;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1em;
    color: #000;
}
.people-item button {
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: center;
}
nav button {
    margin: 0 10px;
    cursor: pointer;
}

.loader-home {
    position: fixed;
    left: 50%;
    top: 25%;
    z-index: 999;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    background: url('../images/loader-new.gif') center 0 no-repeat;
    background-size: contain;
}
.loader-home.hidden {
    display: none;
}

/* popup for data */
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5em;
    background-color: rgba(0, 0, 0, 0.6);
}
#popup.active {
    display: flex;
}
#popup-inner {
    position: relative;
    width: 30%;
    min-height: 500px;
    max-height: 70%;
    padding: 4em;
    background-color: #fff;
    color: #000;
    overflow: auto;
}
#popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#popup-close svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#popup-props ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5em;
}
#popup-props ul li.has-links {
    display: flex;
    flex-direction: column;
}
#popup-props ul span {
    font-weight: bold;
}